* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box
}

.container {
    width: 900px;
    position: relative;

}

#header {
    width: 100%;
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    @media(max-width: 762px) {
        height: 50px;
    }
    h1 {
        font-size: 20px;
        font-family: Roboto;
        text-align: center;
        padding-top: 15px;
    }
    nav {
        display: flex;
        justify-content: center;
        img {
            display: none;
            @media(max-width: 762px) {
                display: block;
                position: absolute;
                left: 5px;
                top: 15px;
            }
        }
        ul {
            @media(max-width: 762px){
                display: none;

            }
            li {
                display: inline-block;
                list-style-type: none;
                margin-top: 25px;
                margin-left: 15px;
                margin-right: 35px;
                a {
                    text-decoration: none;
                    font-family: Roboto;
                    font-weight: bold;
                    font-size: 15px;
                    color: darkgrey;
                }
            }
        }
    }
    .shop {
        position: absolute;
        right: 0px;
        top: 15px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto;
    }
}


// --------------koniec nawigacji------------------
section {
    width: 100%;
    height: 100%;
    display: flex;
    h2 {
        text-align: center;
        font-size: 16px;
        font-family: Roboto;
        font-weight: bold;
        margin-top: 30px;
        color: darkgrey;
    }
    .order-options{
        display: flex;
        .span {
            color: darkgrey;
            font-size: 13px;
            font-family: Roboto;
            font-weight: bold;
        }
    }
    .your-order-header {
        margin-left: 10px;
        width: 150px;
    }
    form {
        margin-top: 35px;
        margin-left: 50px;
        float: left;
        #delivery-address {
            margin-bottom: 20px;
            margin-left: 20px;
            width: 150px;
        }
        .span-payment {
            margin-left: 15px;
            margin-bottom: 25px;
            margin-top: 30px;
            color: darkgrey;
            display: flex;
            font-family: Roboto;
        }
        p {
            font-family: Roboto;
            font-size: 10px;
            margin-left: 20px;
            span {
                color: red;
            }
        }
        input[type="text"] {
            display: block;
            border-radius: 5px;
            border: 2px solid lightgrey;
            width: 250px;
            height: 50px;
            margin-top: 5px;
            margin-bottom: 25px;
            font-size: 20px;
            @media(max-width: 762px){
                width: 100%;
            }
        }
        input[type="submit"] {
            background-color: purple;
            border: 1px solid purple;
            border-radius: 5px;
            color: white;
            width: 250px;
            height: 50px;

        }
        select {
            width: 250px;
            height: 50px;
            border: 2px solid lightgrey;
            background-color: white;
        }
    }

    .orders {
        float: right;
        width: 305px;
        position: relative;
        margin-right: 60px;
        margin-top: 30px;
        .sum {
            p {
                margin-left: 45px;
                font-family: Roboto;
                font-size: 16px;
                color: darkgrey;
                font-weight: bold;
            }
            .summary {
                margin-top: 15px;
                margin-bottom: 5px;
                border-bottom: 1px solid black;
                width: 100%;
                p {
                    margin-left: 10px;
                    color: black;
                    margin-bottom: 5px;
                    span {
                        margin-left: 193px;
                    }
                }
            }
            .total {
                p {
                    margin-left: 10px;
                    color: black;
                    margin-bottom: 5px;
                    span {
                        margin-left: 219px;
                    }
                }
            }
        }
        .order {
            margin-bottom: 20px;
            img {
                width: 75px;
                height: 40px;
                // position: absolute;
                float: left;
            }
            p {
                padding-left: 85px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: bold;
                color: darkgrey;
                margin-top: 20px;
            }
            .adding {
                width: 90px;
                height: 20px;
                display: flex;
                align-items: center;
                margin-top: 15px;
                margin-left: 78px;
                img {
                    width: 20px;
                    height: 20px;
                    position: static;
                    display: inline-table;
                }
                p {
                    padding-left: 0px;
                    margin: 0px;
                    font-size: 13px;
                    font-family: Roboto;
                    color: black;
                }
            }
            .price {
                margin-top: 15px;
                display: flex;
                justify-content: center;
                width: 360px;
                margin-left: 14px;
                p {
                    padding-left: 0px;
                    font-family: Roboto;
                    color: black;
                }
            }
        }
    }
}
